<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <!--div tag를 만들고 mount하여 사용함-->
  <div id="app">
    <input type="text" id="user_id" v-model="userId" onchange="userIdChanged(this)">  <!--Vue가 아니었다면, value 변동에 따른 값 Check하는 방식-->
    <input type="password" id="user_password" v-model="userPassword">
    <button type="button">로그인</button>
    <br />
    아이디 : <span id="user_id_text"></span>
    <br />
    비밀번호 : {{userPassword}}
  </div>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--vuejs cdn 주소 추가-->
  <script>
    new Vue({
      el: '#app', // div tag에 mount
      // Vue 인스턴스 내부에서 사용할 data들 정의 가능
      data() {
        return {
            userId: '',
            userPassword: ''
        }
      }
    })

    function userIdChanged(obj) {
      document.getElementById('user_id_text').innerText = obj.value; // value 변동에 따라 user_id_text에 해당 값 지정, 번거로움, HTML과 JavaScript가 너무 끈끈하게 달라붙어 있다는 단점 존재
    }
  </script>
</body>
</html>
